:root {
    background-color: white;
    color: black;
  }
  
  /* If user prefers a dark appearance */
  @media (prefers-color-scheme: dark) {
    :root {
      background-color: #572364;
      color: white;
    }
  }
