:root {
    background-color: #03bb85;
    color: black;
  }
  
  @media (prefers-color-scheme: dark) {
    :root {
      background-color: #171a4a;
      color: white;
    }
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.fondo{
    min-height: 100vh;
}
.fondo_menu{
    background-color: black;
}
.boton{
    color: aliceblue;
    border: 1px solid white;
    margin-left: 15px;
    text-decoration: none;
    padding: 6px 8px;
    border-radius: 10px;
    transition: .2s;
}
.boton:hover{
    border: 1px solid gray;
    color: gray;
}

.fondo-login{
    background-color: black;
    min-height: 100vh;
    padding-top: 50px;
}

.login{
    color: white;
    margin: auto;
    border: 1px solid gray;
    padding: 20px;
    border-radius: 8px;
    background-color: brown;
}

.icon, .titulo{
    text-align: center;
    color: white;
}

.titulo{
    margin-bottom: 12px;
}

.icon{
    font-size: 50px;
    margin-bottom: 10px;
    color: white;
}

.box-eye{
    position: relative;
}

.box-eye button{
    border: none;
    position: absolute;
}

.changePassword{
    position: absolute;
    top: 12px;
    left: 250px;
    color: brown;
    cursor: pointer;
}